.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  min-width: 250px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  gap: 1.2em;
}

.form input {
  font-size: 1em;
  padding: 0.4em;
  border: 2px solid var(--color-1);
  border-radius: 8px;
}

.form input:focus {
  border-color: var(--color-4);
  outline: none;
}

.button {
  width: fit-content;
  padding: 0.4em 1em;
  background-color: var(--color-2);
  color: var(--color-11);
  border: 2px solid var(--color-1);
  font-size: 1em;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-5);
}

.title {
  text-align: center;
}

.loader {
  text-align: center;
  margin-top: 1em;
}

.description {
  white-space: pre-wrap;
}

.showsList {
  display: flex;
  margin: 1em auto 2em;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-evenly;
  align-items: stretch;
}

.showsList article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 400px;
  min-width: 200px;
  padding: 0.5em;
  border: 2px solid var(--color-1);
  border-radius: 6px;
}

.showsList img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.showList__title {
  text-align: center;
}

.showList__content {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
}

.datos {
  text-transform: capitalize;
  font-weight: 700;
}

.error {
  max-width: max-content;
  min-width: 200px;
  margin: 1em auto 2em;
  padding: 1em;
  border: 2px solid var(--color-1);
  border-radius: 8px;
}

.error h2 {
  text-align: center;
}
